@font-face {
    font-family: Simplicity;
    src: url(Simplicity-Regular.otf);
}
@font-face {
    font-family: Blikfang DEMO;
    src: url(blikfangDEMO_1.otf);
}
@font-face {
    font-family: Snubnose DEMO;
    src: url(snubnose DEMO_1.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
*:focus {
    outline: none;
  }
body {
  background-image: url(architecture-berlin-building-586570.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
    list-style: none;
}

header{
    background-color: #1f1110;
    height: 100px;
}
nav {
    float: right;
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  li {
    display: inline-block;
    padding: 30px 5px;
    font-family: Simplicity;
    font-size: 30px;
    margin-right: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
/* BOX */
.box-form {
  border-radius: 25px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 2%;
  overflow: hidden;
  height: auto;
  width: 35%;
  background-color: rgba(31, 17, 16, 0.5);
}

/* JUDUL */
img {
  height: 150px;
  width: auto;
  text-align: center;
}

/* FORM */
.form {
  text-align: center;
}
.form-input {
  text-decoration: none;
  border: 0;
  font-size: 32px;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  background-color: transparent;
  padding-top: 20px;
  width: 55%;
  color: white;
  font-family: Simplicity;
}
.form-input:focus {
  text-decoration: none;
  border-bottom: 2px solid white;
  transition: 0.5s;
  color: white;
}
p {
  font-size: 32px;
  padding: 5px 0;
  text-align: center;
}
.submit {
  font-family: Blikfang DEMO;
  font-size: 25px;
  width: 55%;
  margin-bottom: 20px;
  background-color: #1f1110;
  border: 2px solid #1f1110;
  color: white;
  margin-top: 20px;
  padding-top: 10px;
  height: auto;
}
.submit:hover {
  height: auto;
  background-color: white;
  border: 2px solid white;
  color: #1f1110;
}
.submit a {
  text-decoration: none;
  color: #1f1110;
}
h2 {
    font-family: Snubnose DEMO;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 20%;
  }